.main-favorites {
  background-image: url('../assets/cover.png');
  width: 100%;
  min-height: 93vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1.2rem;
}

.favorites-main {
    background-image: url("../assets/cover.png");
    width: 100vw;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
} 

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }

  .pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px;
  }
  
  .arrow-btn {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.5;
  }

  
  .arrow-btn img {
    width: 24px;
    height: 24px;
  }
  
  .pages {
    font-family: 'Elsie Swash Caps', serif;
    color: white;
  }


.cocktail-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 900px;   
}


.cocktail-card {
  min-width: 200px; 
  max-width: 250px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.cocktail-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.cocktail-card h3 {
  margin: 0.8rem 0;
  font-family: 'Elsie Swash Caps', serif;
  font-size: 1.2rem;
  text-align: center;
  color: #333;
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap; 
}

.remove-btn {
  background-color: #ffc8ff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: 'Elsie Swash Caps', serif;
  font-size: 1rem;
  margin-top: 0.8rem;
  transition: background-color 0.3s ease;
}

.remove-btn:hover {
  background-color: #f792f7;
}


/*
 .container {
    text-align: center;
    max-width: 900px;
    width: 100%;
}

.fav-header {
    margin: 0.5rem 0;
    font-size: 2rem;
    font-weight: 500;
}

.card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 250px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-bottom: 2px solid #e0e0e0;
}

.card h2 {
    font-size: 1.2rem;
    margin: 15px 0;
    color: #333;
}

.card button {
    background-color: #d68fd6;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 15px;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #b067b0;
} 
 */
