@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&display=swap');

.ingredient-main {
    background-image: url("../assets/bg.png");
    background-position: center;
    background-size: cover;
    width: 100vw;
    min-height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ing-header {
    font-family: 'Elsie Swash Caps', serif;
    color: white;
    font-weight: 500;
    margin: 2rem 0;
}

.drink-header {
    font-family: 'Elsie Swash Caps',
        serif;
    font-weight: normal;
    font-size: 2rem;
    margin: 10px;
}

.description-header {
    font-family: 'Elsie Swash Caps';
    font-size: 2rem;
    font-weight: normal;
}

.ingredient-card {
    display: flex;
    width: 60%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: azure;
    border-radius: 5px;
}

.ingredient-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredient-right {
    flex: 1;
    justify-content: space-evenly;
    padding: .5rem;
}

.ingredient-left {
    flex: 1;
    justify-content: space-around;
    margin-left: 10px;
}

.ingredient-image {
    width: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
}

.description-text {
    margin-right: 20px;
}

.drink-card {
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 50%;
}

.drink-image {
    width: 50%;
    border-radius: 8px;
}